
body {
    background: url(../image/background-bau-troi-xanh-de-thuong_100934336.png) no-repeat left top;
    background-size: auto;
    font-family: Segoe UI Historic, Segoe UI, Helvetica, Arial, sans-serif;
    
}

.header {
    margin: 10px;
    font-size: 30px;
    background: green;
}

.mcontainer {
    background: red;
    margin: 10px;
    padding: 5px;
    display: flex;
   }

.item {
    background: blue;
    margin: 5px;
    color: white;
    height: 50px;
    text-align: center;
    line-height: 50px;
}

.item2 {
    flex-grow: 7;
}

.item1 {
    flex-grow: 1;
}

